
.switch-container {
  margin-top: 60px; 
}

.switch-label-container {
  display: flex;
  align-items: center;
  margin-top: 20px; 
}

.heading-large {
  padding-top: 40px;
  font-size: 4rem !important;
}

a {
    color: inherit;
    text-decoration: none;
} 


.spotify-embed {
  margin-top: 60px;
  border-radius: 15px;
}

.bt1 {
  font-weight: bold !important; 
}

.spotify-embed {
  border-color:#30A46C; /* color on hover */
  border-width: 2px;
}