.css */
.heading-large {
  padding-top: 0px;
  font-size: 4rem !important;
}

.settings {
  text-align: center;
}

.playlistcontainer {
  margin-top: 60px;
}
.playlistcontainer2 {
  margin-top: 60px;
}

.deletebutton {
  margin-top: 60px;
}

.container {
  margin-top: 120px;
}

.txt {
  text-align: left;
  width: 500px;
  display: flex;
  align-items: center; /* Ensure vertical alignment */
}

.txt1 {
  text-align: left;
  width: 536px;
  display: flex;
  align-items: center; /* Ensure vertical alignment */
}

.btn {
  text-align: right;
  max-width: 100px;
  display: flex;
  align-items: center; /* Ensure vertical alignment */
}

.slider {
  text-align: right;
  max-width: 200px;
  display: flex;
  align-items: center; /* Ensure vertical alignment */
  height: 100%; /* Ensure it occupies full height of its container */
}

.flex {
  align-self: center;
  width: 100%; /* Ensure the flex container spans the full width */
  display: flex;
  align-items: center; /* Center items vertically */
}

.playlistcontainer {
  background: rgba(0, 0, 0, 0.453);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
}

.playlistcontainer2 {
  background: rgba(0, 0, 0, 0.453);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;

  border-radius: 15px;
}
.playlistcontainer2 {
  cursor: pointer;
  transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, 
              padding-bottom 0.3s ease-in-out, padding-left 0.3s ease-in-out, 
              padding-right 0.3s ease-in-out, border-radius 0.3s ease-in-out;
}

.playlistcontainer2:hover {
  background: rgba(255, 0, 0, 0.453);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
  cursor: pointer;
}

.clrtxt{
  text-align: center !important;
  width: 500px;
  display: flex;
  align-items: center; /* Ensure vertical alignment */  
  cursor: pointer;
}

.clrtxt:hover {
  cursor: pointer;
  border: 10px !important;
  border-color: white !important;
}
.container {
  background: rgba(0, 0, 0, 0.453);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
  margin-top: 60px;
}

.bbtn{
  visibility: hidden !important;
}