@import '@radix-ui/themes/styles.css';

body {
  margin: 0;
  background: radial-gradient(#005500 1px, transparent 0) !important;
  background-size: 40px 40px !important;
  background-position: -19px !important;
  background-attachment: fixed !important;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.theme {
  background: none;
}

.navbar {
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

}